<!DOCTYPE html>
<html lang="en">
<head>
  <title>Smart City</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<style>
.navbar2 {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}
</style>

</head>
<body>

<div class="container">
<header><h2 >Smart City</h2></header>
<section>
<div class="text-center" >
  <img src="/static/smartcity.jpg" class="img-fluid" style="width:80%" Smart City">
</div>
</section>

  <h2 class="text-center"><p class="text-primary">Veja o que está acontecendo agora na sua cidade</p></h2>  
  
  
  <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">List</a>
  </li>  
  </ul>
  
  

  
  <form>
  <div class="form-row align-items-center">
  
    <div class="col-auto my-1">
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Cidade...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="col-auto my-1">
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Item...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
	  
    </div>
	
	<button type="submit" class="btn btn-primary">Filter</button>
  </div>
  
</form>


<div class="alert alert-primary" role="alert">
  Jundiai | Arvore caida | Mensagem ak  
</div>
<div class="alert alert-secondary" role="alert">
  This is a secondary alert—check it out!
</div>
<div class="alert alert-success" role="alert">
  This is a success alert—check it out!
</div>
<div class="alert alert-danger" role="alert">
  This is a danger alert—check it out!
</div>
<div class="alert alert-warning" role="alert">
  This is a warning alert—check it out!
</div>
<div class="alert alert-info" role="alert">
  This is a info alert—check it out!
</div>
<div class="alert alert-light" role="alert">
  This is a light alert—check it out!
</div>
<div class="alert alert-dark" role="alert">
  This is a dark alert—check it out!
</div>  


<br/>
<br/>


<nav >
<ul class="nav nav-tabs navbar-light bg-light nav-fill " >
  <li class="nav-item">
    <a class="nav-link active" href="/"><img src="/static/baseline-home-24px.svg"></img></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/form_request"><img src="/static/baseline-add_circle-24px.svg"></img></a> 
  
</ul>  
</nav>
	
</div>





<script>
var Lat = document.getElementById("lat");
var Long = document.getElementById("long");

function getLocation() {
  if (navigator.geolocation) { 	 
	  if (document.getElementById("location").checked == true){navigator.geolocation.getCurrentPosition(showPosition);}else{}    
	  } else {   	  
    Lat.innerHTML = "Geolocation is not supported by this browser.";
	Long.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {  
  Lat.innerHTML = position.coords.latitude; 
  Long.innerHTML = position.coords.longitude;
}
</script>





</body>
</html>
