<!DOCTYPE html>
<html lang="en">
<head>
  <title>Smart City</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

<div class="container">
<header><h2>Smart City</h2></header>
<section>
<div class="text-center" >
  <img src="/static/smartcity.jpg" class="img-fluid" style="width:80%" Smart City">
</div>
</section>

 <h2 class="text-center"><p class="text-primary">Ajude sua cidade. Diga onde o problema está!</p></h2>     

<form method="POST" role="form" action="/producer" class="form-group">   
   
   <div >  
	
   <label for="Lat_label">E-mail</label>
   <textarea class="form-control" rows="1" id="email" name="email" placeholder="your@email.com"></textarea>
	
	<label for="type">Item:</label>
	<select class="form-control" id="type" name="type">
        <option>Select...</option>
		<option>Arvore caida</option>
        <option>Alagamento</option>
        <option>Farol queimado</option>
        <option>Buraco na via</option>
      </select>
	  
	  <label for="details_label">Detalhes</label>
      <textarea class="form-control" rows="5" id="details" name="details" placeholder="O que há de errado"></textarea>
	  
	 <label>
    <input type="checkbox" id="location" data-toggle="toggle" onchange="getLocation()">
     <img src="/static/baseline-gps_fixed-24px.svg">  Capture my location</img>
    </label>
	<br>
	
	<label for="Lat_label">Latitude</label>
    <textarea class="form-control" rows="1" id="lat" name="lat" ></textarea>
   


      <label for="Long">Longitude</label>
       <textarea class="form-control" rows="1" id="long" name="long" ></textarea>
	   
	   <br>
	  
	 <input type="submit" class="btn btn-success" value="Enviar"/>
	  
</form>	  
<br/>
<br/>

<ul class="nav nav-tabs navbar-light bg-light  nav-fill">
  <li class="nav-item">
    <a class="nav-link active" href="/"><img src="/static/baseline-home-24px.svg"></img></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/form_request"><img src="/static/baseline-add_circle-24px.svg"></img></a>
  
  
</ul>  
	
</div>

<script>
var Lat = document.getElementById("lat");
var Long = document.getElementById("long");

function getLocation() {
  if (navigator.geolocation) { 	 
	  if (document.getElementById("location").checked == true){navigator.geolocation.getCurrentPosition(showPosition);}else{}    
	  } else {   	  
    Lat.innerHTML = "Geolocation is not supported by this browser.";
	Long.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {  
  Lat.innerHTML = position.coords.latitude; 
  Long.innerHTML = position.coords.longitude;
}
</script>





</body>
</html>
